<%- include("admin-header", {title: title, name: name}); %>
    <!-- Import jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity=
"sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous">
    </script>
      
    <script src=
"https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity=
"sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous">
    </script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method=post action="/admin-features/remove">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name" readonly name="id">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<br><h1>Overview</h1><br>
<form class="form-inline" method="post" action="/admin-features/overview-search">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" name="search" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
  <button href="<%= `/admins/${name}` %>" class="btn btn-primary mb-2">Reset</button>
</form>
<div style="overflow-x:auto;">
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
        <th scope="col">Reserve</th>
    </tr>
  </thead>
    <% for(var i = 0; i < results.length; i++) { %>
        <tr>
      <td scope="row"><%= results[i].id %></td>
      <td><%= results[i].e_name %></td>
      <td><%= results[i].e_description %></td>
      <td><% if (results[i].e_status != "Free") { %>
            <a href="/admin-features/track-status/<%= results[i].id %>">Status</a>
          <% } else { %>
            <%= results[i].e_status %>
          <% } %>
      </td>
      <td>
        <a href="/admin-features/modify/<%= results[i].id %>">&#x270e;</a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="<%= results[i].id %>">&#x1F5D1;</button>
      </td>
      <td>
        <a href="/admin-features/reserve/<%= results[i].id %>">Reserve</a>
      </td>
    </tr>
    <% } %>
</table>
</div>

<script>
  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text('Delete item: ' + recipient)
    modal.find('.modal-body input').val(recipient)
  })
  </script>

<%- include("footer"); %>
