<%- include("admin-header", {title: title, name: name}); %>
<form class="label-left" method="post" action="/modify-equipment">
    <fieldset>
        <legend>Modify equipment</legend>
        <label for="id">ID</label>
        <input id="id" type="text" name="id" readonly value= "<%= results.id %>">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" value= "<%= results.e_name %>">

        <label for="description">Description</label>
        <input id="description" type="text" name="description" value = "<%= results.e_description %>">

        <input type="submit" name="doit" value="submit" id="button1">
    </fieldset>
</form>
<%- include("footer"); %>