<%- include("studentHeader", {title: title, name: name}); %>

<h1>Book equipment</h1><br>
<form class="form-inline" method="post" action="/student-features/book-search">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" name="search" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
  <button href="<%= `/admins/${name}` %>" class="btn btn-primary mb-2">Reset</button>
</form>
<div style="overflow-x:auto;">
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <% for(var i = 0; i < results.length; i++) { %>
        <tr>
      <td scope="row"><%= results[i].id %></td>
      <td><%= results[i].e_name %></td>
      <td><%= results[i].e_description %></td>
      <td><%= results[i].e_status %></td>
      <td>
        <a href="/student-features/book/<%= results[i].id %>">Book</a>
      </td>
    </tr>
    <% } %>
</table>
</div>
<%- include("footer"); %>
