<%- include("admin-header", {title: title, name: name}); %>
<h1>Book equipment</h1><br>
<form method="post" action="/student-features/overview-search">
  <fieldset>
      <label for="name">Search</label>
      <input id="search" type="text" name="search"> <input type="submit" name="doit" value="submit" id="button1"><a href="<%= `/admins/${name}` %>" id="button1">reset</a>
  </fieldset>
</form>
<div style="overflow-x:auto;">
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Quantity</th>
        <th>Available</th>
        <th>Action</th>
    </tr>
    <% for(var i = 0; i < results.length; i++) { %>
        <tr>
      <td><%= results[i].id %></td>
      <td><%= results[i].e_name %></td>
      <td><%= results[i].e_description %></td>
      <td><%= results[i].e_status %></td>
      <td><%= results[i].quantity %></td>
      <td><%= results[i].available %></td>
      <td>
        <a href="/student-features/book/<%= results[i].id %>">Book</a>
      </td>
    </tr>
    <% } %>
</table>
</div>
<%- include("footer"); %>
